.moving {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background:  url('https://cdn.discordapp.com/attachments/830706676852064307/900914511006027826/115517_5bbc1895b0215-removebg-preview.png') 0 top / 120% repeat-x;
	background-size: 50% 100%;
	animation: movebg 40s linear infinite;
}

@keyframes movebg {
	0% {
		background-position: 0 top;
	}
	100% {
		background-position: -200% top;
	}
}

.custom-shape-divider-bottom-1634887280 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634887280 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1634887280 .shape-fill {
    fill: #fafafa;
}
